nodered txt.json
[{"id":"f2f2649a.0d0d98","type":"debug","z":"5331e0b0.51ae1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"f994068c.8db5c8","type":"inject","z":"5331e0b0.51ae1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":320,"wires":[["ffdf535d.2b81"]]},{"id":"d224d1eb.4661a","type":"ui_gauge","z":"5331e0b0.51ae1","name":"","group":"307a3527.cf315a","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":60,"wires":[]},{"id":"50099e19.1c684","type":"ui_gauge","z":"5331e0b0.51ae1","name":"","group":"f82adc78.9d4c7","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":140,"wires":[]},{"id":"6305c77a.cbd8b8","type":"ui_gauge","z":"5331e0b0.51ae1","name":"","group":"8b7aeaeb.a5e5b8","order":0,"width":0,"height":0,"gtype":"gage","title":"soil moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":220,"wires":[]},{"id":"ca670af2.31ce38","type":"function","z":"5331e0b0.51ae1","name":"Temperature","func":"msg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":60,"wires":[["d224d1eb.4661a","f2f2649a.0d0d98"]]},{"id":"6c98fec6.81bc2","type":"function","z":"5331e0b0.51ae1","name":"Humidity","func":"msg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":140,"wires":[["50099e19.1c684","f2f2649a.0d0d98"]]},{"id":"fd6016e9.888068","type":"function","z":"5331e0b0.51ae1","name":"soilmoisture","func":"msg.payload=msg.payload.soilmoisture;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":220,"wires":[["6305c77a.cbd8b8","f2f2649a.0d0d98"]]},{"id":"ffdf535d.2b81","type":"http request","z":"5331e0b0.51ae1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?q={Kolar,IN}&appid={a-uo20tn-tphqwg9jkn}","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":320,"wires":[["b568849e.fc77b8"]]},{"id":"5dd88169.9a82a","type":"ui_button","z":"5331e0b0.51ae1","name":"","group":"5d486600.b799f8","order":0,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Command\":\"Motor ON\"}","payloadType":"json","topic":"","x":430,"y":400,"wires":[["c4711995.ea79d8"]]},{"id":"4ae2c018.8384e","type":"ui_button","z":"5331e0b0.51ae1","name":"","group":"5333e30b.0f807c","order":0,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"Command\":\"Motor OFF\"}","payloadType":"json","topic":"","x":450,"y":460,"wires":[["c4711995.ea79d8"]]},{"id":"e7a18c7e.73638","type":"ibmiot in","z":"5331e0b0.51ae1","authentication":"apiKey","apiKey":"c1b4be5c.9680e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"345678","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":140,"wires":[["ca670af2.31ce38","6c98fec6.81bc2","fd6016e9.888068"]]},{"id":"c4711995.ea79d8","type":"ibmiot out","z":"5331e0b0.51ae1","authentication":"apiKey","apiKey":"c1b4be5c.9680e","outputType":"cmd","deviceId":"345678","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":420,"wires":[]},{"id":"b568849e.fc77b8","type":"debug","z":"5331e0b0.51ae1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":360,"wires":[]},{"id":"307a3527.cf315a","type":"ui_group","z":"","name":"Default","tab":"6a40b3b3.9a48bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"f82adc78.9d4c7","type":"ui_group","z":"","name":"Default","tab":"6a40b3b3.9a48bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"8b7aeaeb.a5e5b8","type":"ui_group","z":"","name":"Default","tab":"6a40b3b3.9a48bc","order":3,"disp":true,"width":"6","collapse":false},{"id":"5d486600.b799f8","type":"ui_group","z":"","name":"Default","tab":"6a40b3b3.9a48bc","order":4,"disp":true,"width":"6","collapse":false},{"id":"5333e30b.0f807c","type":"ui_group","z":"","name":"Default","tab":"6a40b3b3.9a48bc","order":5,"disp":true,"width":"6","collapse":false},{"id":"c1b4be5c.9680e","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6a40b3b3.9a48bc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]